#co_info{
  ul{
    margin-top: 20px;
    margin-bottom: 20px;
    list-style: none;
    li{
      line-height: 1.5;
    }
  }
  .lh-info-txt{
    color: $main-color;
  }
  .lh-map{
    margin-bottom: 20px;
  }
}