#menu {
  #menu_top {
    background-color: $bg-menu-top;
    img.menu_logo {
      height: 50px;
    }
    ul.menu-search {
      display: block;
      height: 46px;
      display: inline-flex;
      list-style: none;
      width: 100%;
      li {
        input {
          height: 49px;
          width: 100%;
          display: block;
          border-top-right-radius: 0;
          border-bottom-right-radius: 0;
          border-top-left-radius: 0;
          border-bottom-left-radius: 0;
          background-color: white;
          color: #333333;
          //border: 1px solid #333333;
          border: none;
        }
        a {
          padding: 15px;
          background-color: $sub-color;
          color: #fff;
          display: inline-block;
          font: normal normal normal 14px/1 FontAwesome;
          font-size: inherit;
          text-rendering: auto;
          -webkit-font-smoothing: antialiased;
          -moz-osx-font-smoothing: grayscale;
          -webkit-transform: translate(0, 0);
          transform: translate(0, 0);
          height: 47px;
          float: left;
        }
      }
    }
  }
  #menu_logo_center {
    img {
      width: inherit;
    }
  }
  #menu_bottom {
    background-color: $main-color;

    ul.main_menu {
      display: block;
      position: relative;
      //float: left;
      li {
        display: inline-block;
        padding: 15px;

        i {
          color: white;
          font-size: 16px;
          padding-right: 6px;
        }
        a {
          font-size: 15px;
          text-transform: uppercase;
          font-weight: bold;
          color: white;
        }
      }
      li:hover {
        background-color: $main-color-hover;
      }
      li.has-item-down {
        transition: all 0.2s;
        .drop-down {
          position: absolute;
          opacity: 0;
          display: none;
          background-color: $main-color-1;
          top: 100%;
          left: 0;
          z-index: 9;
          width: 160%;
          padding: 35px 0 18px;
          ul {
            li {
              display: block;
              padding: 5px;
            }
            li.title {
              a {
                text-transform: uppercase;
              }
            }
            li.sub-item {
              a {
                padding-left: 10px;
                text-transform: capitalize;
              }
            }
          }
        }
      }
      li.has-item-down:hover > .drop-down {
        display: block;
        opacity: 1;
      }
      li.has-item-down-price {
        position: relative;
        ul {
          background-color: $main-color-1;
          position: absolute;
          list-style: none;
          opacity: 0;
          width: 260px;
          display: none;
          padding: 10px;
          z-index: 6;
          top: 100%;
          left: 0;
          li {
            display: block;
          }
        }
      }
      li.has-item-down-price:hover > ul {
        display: block;
        opacity: 1;
      }
    }
  }
}