#p_info {
  img.p_product_img {
    height: 300px;
  }
  #p-short-info {
    h1.title {
      font-weight: 400;
      line-height: 26px;
      font-size: 24px;
      color: $sub-color;
      margin-bottom: 20px;
    }
    .product-code {
      display: block;
      line-height: 2;
    }
    .price-sale {
      display: block;
      font-size: 24px;
      line-height: 2;
      color: red;
      width: 100%;
    }
    .price-nosale {
      display: block;
      width: 100%;
      line-height: 2;
      span {
        text-decoration: line-through;
      }
    }
    .price-saving {
      display: block;
      line-height: 2;
      width: 100%;
    }
    .price-contact {
      line-height: 2;
      color: $sub-color;
      font-size: 21px;
      margin-top: 10px;
      display: block;
    }
    .btn-confirm {
      background-color: $main-color;
      border-color: $main-color-sub;
      border-radius: 0px;
      color: white;
      text-transform: uppercase;
      margin-top: 20px;
      font-size: 36px;
    }

  }
  .p-description{
    margin-top: 20px;
    line-height: 1.5;
  }
  #p-content {
    margin-bottom: 20px;
    margin-top: 20px;
    border-top: 2px solid $main-color;
    box-shadow: 0px 3px 13px 0px rgba(136, 136, 136, 0.25);
    padding: 20px;
    line-height: 1.5;
    text-align: justify;
    .contact-info{
      margin-top: 20px;
    }
  }
  #p-other {
    border-top: 2px solid $main-color;
    box-shadow: 0px 3px 13px 0px rgba(136, 136, 136, 0.25);
    h3.title {
      color: $main-color-sub;
      margin-top: 10px;
      font-size: 20px;
    }
    .list-product {
      margin-bottom: 25px;
      .one-product {
        margin-top: 40px;
        position: relative;
        transition: all 0.2s;
        .img-product {
          overflow: hidden;
          img.p_product_other_img {
            transition: all 0.2s;
            height: 188px;
          }
        }
        .discount {
          position: absolute;
          color: white;
          background-color: $sub-color;
          padding: 0 10px;
          height: 22px;
          line-height: 22px;
          margin-left: 5px;
          left: 10px;
          top: 20px;
          font-size: 12px;
        }
        h4.title-product {
          a {
            color: $main-color;
          }
          display: block;
          text-overflow: ellipsis;
          overflow: hidden;
          position: relative;
          text-align: left;
          margin: 15px auto 0;
          letter-spacing: .1px;
          width: 100%;
          font-size: 14px;
          font-weight: normal;
          font-style: normal;
          font-stretch: normal;
          line-height: 1.38;

        }
        span.price-sale {
          color: $sub-color;
          line-height: 1.5;
          font-weight: bold;
        }
        span.price-saving {
          text-decoration: line-through;
          line-height: 1.5;
          color: #cccccc;
          //display: block;
        }
        span.price-contact {
          color: $sub-color;
          font-size: 21px;
          margin-top: 10px;
          display: block;
          text-align: center;
          width: 100%;
        }
      }
      .one-product:hover {
        box-shadow: 0px 3px 13px 0px rgba(136, 136, 136, 0.25);
        img.p_product_other_img {
          transform: scale(1.2, 1.2);
        }
      }
    }
  }
}