#sidebar {
  h3 {
    background-color: $main-color;
    text-transform: uppercase;
    font-size: 12px;
    color: white;
    font-weight: bold;
    display: block;
    padding: 10px;
  }
  .one-item {
    margin-bottom: 10px;
    a.title {
      display: block;
      padding: 10px;
      color: black;
      text-transform: uppercase;
      border-bottom: 1px solid #d6d6d6;
      border-left: 1px solid #d6d6d6;
      border-right: 1px solid #d6d6d6;
      border-top: 1px solid #d6d6d6;
      font-weight: bolder;
    }
    ul.ul-normal {
      display: block;
      box-shadow: 0px 3px 13px 0px rgba(136, 136, 136, 0.25);
      list-style: none;

      li.li-normal, li.has-sub-item {
        a {
          color: $main-color-sub;
          display: block;
          padding: 10px;
          border-bottom: 1px solid #d6d6d6;
          border-left: 1px solid #d6d6d6;
          border-right: 1px solid #d6d6d6;
          transition: all 0.2s;
          font-size: 14px;
        }
        a:hover {
          padding-left: 20px;
        }
      }
      li.has-sub-item {
        transition: all 0.2s;
        ul {
          position: absolute;
          opacity: 0;
          display: none;
          background-color: white;
          top: 34px;
          left: 241px;
          z-index: 9;
          width: 75%;
          li {
            display: block;
            //padding-left: 10px;
            transition: all 0.2s;
            a {
              border: none;
              border-top: 1px solid #d6d6d6;
              border-bottom: 1px solid #d6d6d6;
              border-right: 1px solid #d6d6d6;
            }
          }
          li:hover {
            //padding-left: 20px;

          }
        }
      }
      li.has-sub-item:hover > ul {
        display: block;
        opacity: 1;
      }
    }
    ul.ul-ht-info {
      display: block;
      box-shadow: 0px 3px 13px 0px rgba(136, 136, 136, 0.25);
      list-style: none;
      li {
        padding: 10px;
      }
    }
    img.sidebar-img {
      border: 1px solid $main-color;
    }
  }
}